.d_flex {
    display: flex;
    justify-content: center;
}

.box1 {
    background-image: url(../HTML/image/asset\ 41.png);
    position: absolute;
    width: 22%;
    height: 600px;
    left: 100px;
    top: 150px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(24, 75, 75);
}

.image-1 {
    margin-top: 297px;
    margin-left: -47px;
    width: 508px;
    height: 311px;
}

.p1 {
    color: white;
    margin-top: -550px;
    margin-left: 112px;
    font-size: 30px;
}

.p2 {
    color: yellow;
    margin-top: 25px;
    margin-left: 40px;
    font-size: 50px;
}

.image-2 {
    margin-top: 258px;
    margin-left: 300px;
    width: 110px;
    height: 100px;
}

.box2 {
    position: absolute;
    height: 320px;
    width: 635px;
    top: 150px;
    left: 612px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(231, 5, 5);
}

.p3 {
    color: white;
    margin-top: -300px;
    margin-left: 315px;
    font-size: 30px;
}

.p4 {
    color: white;
    margin-top: -30px;
    margin-left: 315px;
    font-size: 75px;
}

.p5 {
    color: yellow;
    margin-top: -70px;
    margin-left: 315px;
    font-size: 38px;
}

.btn {
    padding: 19px 75px;
    display: inline-block;
    font-size: 20px;
    border: 1px solid #fff;
    transition: 0.5s;
    border-radius: 5px;
    margin-left: 315px;
}

.btn:hover {
    background-color: transparent;
    color: #fff;
}

.image-3 {
    margin-top: -88px;
    width: auto;
    height: 419px;
}

.image-4 {
    position: absolute;
    height: 340px;
    width: 635px;
    top: 139px;
    left: 1308px;
    padding: 10px;
    border-radius: 25px;
}

.box3 {
    position: absolute;
    height: 234px;
    width: 1323px;
    top: 516px;
    left: 612px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(2, 128, 2);
    background-image: url(../HTML/image/asset\ 43.png);
}

.image-5 {
    margin-top: -45px;
    margin-left: -10px;
    width: auto;
    height: 362px;
}

.p8{
    color: white;
    margin-top: -260px;
    margin-left: 580px;
    font-size: 25px;
}

.p9{
    color: white;
    margin-top: -20px;
    margin-left: 580px;
    font-size: 80px;
}

.btn2 {
    padding: 19px 75px;
    display: inline-block;
    font-size: 20px;
    border: 1px solid #fff;
    transition: 0.5s;
    border-radius: 5px;
    position: absolute;
    margin-left: 1045px;
    margin-top: -175px;
}

.btn2:hover {
    background-color: transparent;
    color: #fff;
}

.btn3 {
    padding: 19px 75px;
    display: inline-block;
    font-size: 20px;
    border: 1px solid #fff;
    transition: 0.5s;
    border-radius: 5px;
    position: absolute;
    margin-left: 620px;
    margin-top: 352px;
}

.btn3:hover {
    background-color: transparent;
    color: #fff;
}