*{
    background-color: rgb(248,247,250);
    box-sizing: border-box;  
}

.index{
    position: fixed;
    height: 970px;
    width: 345px;
    background-color: rgb(255,255,255);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.serchbar{
    height: 80px;
    width: 78%; 
    position: absolute;
    top: 25px;
    right: 55px;
    border-radius: 8px;
    background-color: rgb(255,255,255);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content1{
    height: 300px;
    width: 38%; 
    position: absolute;
    top: 155px;
    left: 392px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(115,103,240);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content2{
    height: 300px;
    width: 18%; 
    position: absolute;
    top: 155px;
    right: 463px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(255,255,255);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content3{
    height: 300px;
    width: 18%; 
    position: absolute;
    top: 155px;
    right: 58px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(255,255,255);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content4{
    height: 500px;
    width: 38%; 
    position: absolute;
    top: 490px;
    left: 392px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(255,255,255);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content5{
    height: 500px;
    width: 38%; 
    position: absolute;
    top: 490px;
    right: 58px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(255,255,255);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content6{
    height: 600px;
    width: 25%; 
    position: absolute;
    top: 1025px;
    left: 392px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(255,255,255);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content7{
    height: 600px;
    width: 25%;
    position: absolute;
    top: 1025px;
    left: 927px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(255,255,255);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content8{
    height: 600px;
    width: 25%;
    position: absolute;
    top: 1025px;
    right: 58px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(255,255,255);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content9{
    height: 600px;
    width: 25%; 
    position: absolute;
    top: 1652px;
    left: 392px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(255,255,255);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content10{
    height: 600px;
    width: 51.2%; 
    position: absolute;
    top: 1652px;
    right: 58px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(255,255,255);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
