body {
    background-color: #edebeb;
}

.container-sm {
    max-width: 50%;
    padding: 15px 20px;
}

.container-sm .form-btns {
    min-height: 140px;
    background-color: #f1f1f1;
    padding: 8px 20px;
    border-radius: 6px;
}

.container-sm .form-btns .btn-group {
    background-color: #ebebeb;
}

.container-sm .form-btns .btn-group .btn {
    border: none;
}

.container-sm .form-body {
    padding: 0px 20px;
}

.container-sm{
    border: 1px solid rgb(209, 206, 206);
    border-radius: 3px;
}