@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* carousel-CSS file Import  for slider */
@import url(CarouselCSS/carousel.css);

/*  default  Css  */
* {
    /* font-size: 62.5%; */
    padding: 0;
    margin: 0%;
}

.text-font {
    font-family: 'Poppins', sans-serif;
}

* ul li {
    list-style-type: none;
}

* a {
    text-decoration: none;
}

/* header section - I  */
header h1::selection,
header small::selection {
    background-color: transparent;
    color: white;
}

header {
    margin-bottom: 7rem;
    background-color: rgb(245, 223, 78);
}

.nav {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    padding-bottom: 20px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.nav .btn-check,
.nav .navbar-close-btn,
.nav .navbar-open-btn {
    right: 0%;
    height: 30px;
    width: 30px;
    background-color: transparent;
}

.nav .btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

header .header-box {
    padding-top: 194px;
}

/* header deta  */
/* animation text  */
header .header-box .row .header-deta .head-text .dynamic-text {
    overflow: hidden;
    max-height: 84px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-flow: column nowrap;
}

header .header-box .row .header-deta .head-text .dynamic-text li h1 {
    display: inline-block;
    position: relative;
    height: 100%;
    font-size: 5.5rem;
    overflow: hidden;
    animation: text-width 2.4s steps(9) infinite alternate;
}

header .header-box .row .header-deta .head-text .dynamic-text li h1::after {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    content: "";
    opacity: 0;
    display: block;
    margin: 0px;
    width: 15px;
    padding: 0px;
    background-color: #000;
    animation: blinak-arrow 0.3s ease-in-out infinite alternate-reverse;
}

@keyframes text-width {
    0% {
        width: 20%;
    }

    50% {
        width: 110%;
    }

    75% {
        width: 110%;
    }

    100% {
        width: 110%;
    }
}

@keyframes blinak-arrow {
    100% {
        opacity: 1;
    }
}

/* header - image  */
header .header-box .row .header-image {
    margin: auto;
    max-width: 476px;
    padding: 18px;
}

header .header-box .row .header-image img {
    width: 100%;
    height: 100%;
    outline: 12px solid white;
    box-shadow: 0px 0px 10px 16px rgba(0, 0, 0, 0.4);
}

/* header-button  */
header .header-box .row .header-deta .header-button {
    max-width: 60%;
}

header .header-box .row .header-deta .header-button .btn {
    padding: 8px 16px !important;
}

header .header-box .row .header-deta .header-button .button-link a {
    text-decoration: underline;
}

/* head-drop-btn */
header .header-box .head-drop-btn .btn-link {
    height: 45px;
}

header .header-box .head-drop-btn .btn-link a {
    top: -50%;
    margin: auto;
    opacity: 0.5;
    animation: drop-btn 1.5s ease-in-out 1s infinite;
}

@keyframes drop-btn {
    100% {
        opacity: 1;
        top: 21%;
    }
}

/* =================================== main ========================*/
/* section heading  */
.about-S1 .ab-heading h5,
.what-i-do .row .what-heading h5,
.resume .row .resume-heading h5,
.portfolio .row .portfolio-heading h5,
.FAQ .FAQ-wrapper .row .FAQ-heading h5,
.client-speak .row .cskp-heading h6 {
    background-color: rgb(245, 223, 78);
    display: inline-block;
    padding: 2px 4px;
}

/* section - 1 about me  */
.about-S1 {
    margin-bottom: 7rem;
}

.about-S1 .ab-deta .ab-text h1 span {
    border-bottom: 2px solid rgb(245, 223, 78);
}

.about-S1 .ab-deta .ab-text p {
    line-break: loose;
    line-height: 2.2rem;
}

.about-S1 .ab-deta .ab-title .title-box {
    position: relative;
}

.about-S1 .ab-deta .ab-title .title-box::before {
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    margin: auto;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    content: "";
    display: block;
    height: 70%;
    width: 75%;
    background-color: rgb(245, 223, 78);
}

.about-S1 .ab-deta .ab-title .title-box h1 {
    font-size: 9rem;
    color: #4C4D4D;
}

.about-S1 .ab-tags .col-6 h6 {
    color: #8E9AB6;
}

.about-S1 .ab-tags .col-6 a {
    text-decoration: underline;
    word-wrap: break-word;
}

.about-S1 .ab-tags .col-6 a:hover {
    text-decoration: none;
}

/*  section - 2 What I Do  */
.what-i-do {
    background-color: #F8F9FA;
    margin-bottom: 7rem;
}

.what-i-do .row {
    padding: 60px 0px;
}

.what-i-do .row .what-heading {
    margin: 60px auto;
}

.what-i-do .row .col-md-6 {
    min-height: 300px;
}

.what-i-do .row .col-md-6 .W-box {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}

.what-i-do .row .col-md-6 .W-box .icon i {
    font-size: 3.4rem;
    color: #00FFFF;
}

.what-i-do .row .col-md-6 .W-box p {
    color: #4C4D4D;
}

/*  section - 3 resume  */
.resume {
    margin-bottom: 7rem;
}

.resume .row .my-education .re-deta,
.resume .row .my-experience .re-deta {
    border-left: 2px solid rgb(245, 223, 78);
}

.resume .row .my-education .re-deta .col-12 .re-text,
.resume .row .my-experience .re-deta .col-12 .re-text {
    color: #8e9a9d;
    line-height: 2rem;
}

/*  section - 3 resume  skill div progress-bar */
.resume .row .skill-box .skill-row {
    margin: 18px auto;
}

.resume .row .skill-box .skill-row .progress-wrapper .progress-bar {
    width: 100%;
    background-color: #e9ecef;
    border-radius: 15px;
}

.resume .row .skill-box .skill-row .progress-wrapper .progress-bar .bar {
    display: block;
    width: 100%;
    background-color: rgb(245, 223, 78);
    border-radius: 15px 0px 0px 15px;
    padding: 4px;
}

/*  section - 3 resume CV  Download Button  */
.resume .CV-button .btn {
    padding: 10px 24px !important;
}

/* section - 4 portfolio  */
.portfolio {
    background-color: #F8F9FA;
}

.portfolio .row {
    padding: 60px 0px;
}

/* portfolio-link */
.portfolio .row .col-12 .portfolio-link {
    width: 50%;
}

.portfolio .row .col-12 .portfolio-link .Prot-link-wrapper {
    margin: auto;
}

.portfolio .row .col-12 .portfolio-link .Prot-link-wrapper li a {
    margin: auto 8px;
    display: block;
    word-wrap: none;
    color: #707070;
    transition: all 0.3s linear;
}

.portfolio .row .col-12 .portfolio-link .Prot-link-wrapper li a:hover {
    color: #000;
}

/* port-img-wrapper */
.portfolio .row .col-12 .port-img-wrapper .port-img-box a {
    display: block;
}

.portfolio .row .col-12 .port-img-wrapper .port-img-box a img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

/* port-img-wrapper > hover  */
.portfolio .row .col-12 .port-img-wrapper .port-img-box a {
    overflow: hidden;
}

.portfolio .row .col-12 .port-img-wrapper .port-img-box a:hover img {
    transform: scale(1.1);
}

/*  port-img-wrapper > img-card  */
.portfolio .row .col-12 .port-img-wrapper .port-img-box a .img-card {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

/* section - 5  hire-me  */
.hire-me {
    height: 85vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../HTML/image/asset\ 13.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hire-me .hire-heading .hire-button .btn {
    padding: 16px 50px;
    background-color: rgb(245, 223, 78);
    transition: all 0.3s ease-in-out;
}

.hire-me .hire-heading .hire-button .btn:hover {
    background-color: yellow;
}

/* section - 6 FAQ  */
.FAQ {
    background-color: #F8F9FA;
}

.FAQ .FAQ-wrapper .row {
    padding: 120px 0px 80px 0px;
}

/* FAQ .FAQ-heading  */
.FAQ .FAQ-wrapper .row .FAQ-heading {
    margin-bottom: 5rem;
}

/* FAQ accordion */
.FAQ .FAQ-wrapper .row .col-12 .FAQ-deta .accordion-item {
    border-radius: 0%;
    background: none;
    margin: 26px auto;
}

.FAQ .FAQ-wrapper .row .col-12 .FAQ-deta .accordion-item .accordion-header .accordion-button {
    position: relative;
    padding-left: 40px;
    box-shadow: none !important;
    width: 100%;
    background: none;
    color: #000;
    border: none;
    opacity: 0.4;
    transition: all 0.3s ease-in-out;
}

/* FAQ iamge  */
.FAQ .FAQ-wrapper .row .FAQ-image img {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* contact-me  */
.contact-me {
    background-color: rgb(245, 223, 78);
    padding: 60px 0px;
}

/* contact-form */
.contact-form form input,
.contact-form form textarea {
    margin-top: 0.5rem;
    background: transparent;
    padding: 0%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgb(245, 223, 78);
}

.contact-form form input:focus,
.contact-form form textarea:focus {
    border-bottom: 2px solid black;
    box-shadow: none;
    background: none;
}

.contact-form form button {
    padding: 14px 40px;
    background-color: #000;
}

.contact-form form button:hover {
    background-color: #000;
}

/* footer  */
footer {
    height: 13rem;
    background-color: #000;
}

footer .row .col-12 p a {
    color: rgb(245, 223, 78);
    text-decoration: underline;
}

footer .row .col-12 p a:hover {
    text-decoration: none;
}