@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*  default  Css  */
* {
    padding: 0;
    margin: 0%;
}

.text-font {
    font-family: 'Poppins', sans-serif;
}

* ul li {
    list-style-type: none;
}

* a {
    text-decoration: none;
}

/* header section - I  */
header {
    margin-bottom: 5rem;
    background-color: #f5df4e;
}

.nav {
    padding: 15px;
    background-color: #f5df4e;
}

.nav .nav-icon {
    height: 30px;
}
.nav .btn img {
    height: 100%;    
}

header .header-box {
    padding-top: 80px;
}

/* header deta  */
/* animation text  */
header .header-box .row .deta .text .anim-text {
    overflow: hidden;
    max-height: 84px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-flow: column nowrap;
}

header .header-box .row .deta .text .anim-text li
{
    animation:to-top 14s steps(3) infinite alternate;
}

@keyframes to-top  {
    0%
    {
        transform: translateY(100%);
    }

    100%
    {
        transform: translateY(-200%);
    }
    
}

header .header-box .row .deta .text .anim-text li h1 {
    display: inline-block;
    position: relative;
    height: 100%;
    font-size: 5.5rem;
    overflow: hidden;
    animation: text-width 2.4s steps(9) infinite alternate;
}

header .header-box .row .deta .text .anim-text li h1::after {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    content: "";
    opacity: 0;
    display: block;
    margin: 0px;
    width: 15px;
    padding: 0px;
    background-color: #000;
    animation: blinak-arrow 0.3s ease-in-out infinite alternate-reverse;
}

@keyframes text-width {
    0%
    {
        width: 20%;
    }

    50%
    {
        width:110%;
    }

    75%
    {
        width:110%;
    }

    100%
    {
        width:110%;
    }
}

@keyframes blinak-arrow {
    100%
    {
        opacity: 1;
    }
}

/* header - image  */
header .header-box .row .header-image {
    margin: auto;
    max-width: 476px;
    padding: 18px;
}

header .header-box .row .header-image img {
    width: 100%;
    height: 100%;
    outline: 12px solid white;
    box-shadow: 0px 0px 10px 16px rgba(0, 0, 0, 0.4);
}

/* header-button  */
header .header-box .row .deta .header-button {
    max-width: 60%;
}

header .header-box .row .deta .header-button .btn {
    padding: 8px 16px !important;
}

header .header-box .row .deta .header-button .button-link a {
    text-decoration: underline;
}

/* head-drop-btn */
header .header-box .dropdown-btn .btn-link {
    height: 45px;
}

header .header-box .dropdown-btn .btn-link a {
    top: -50%;
    margin: auto;
    opacity: 0.5;
    animation: drop-btn 1.5s ease-in-out 1s infinite;
}

@keyframes drop-btn {
    100% {
        opacity: 1;
        top: 21%;
    }
}

/* main */
/* section heading  */
.About-Me .AM-heading h5,
.what-i-do .row .what-heading h5,
.resume .row .resume-heading h5,
.portfolio .row .portfolio-heading h5,
.FAQ .FAQ-wrapper .row .FAQ-heading h5,
.client-speak .row .cskp-heading h6 {
    background-color: rgb(245, 223, 78);
    display: inline-block;
    padding: 2px 4px;
}

/* section - 1 about me  */
.About-Me {
    margin-bottom: 3rem;
}

.About-Me .AM-deta .AM-text h1 span {
    border-bottom: 2px solid rgb(245, 223, 78);
}

.About-Me .AM-deta .AM-text p {
    line-break: loose;
    line-height: 2.2rem;
}

.About-Me .AM-deta .AM-title .title {
    position: relative;
}

.About-Me .AM-deta .AM-title .title::before {
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    margin: auto;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    content: "";
    display: block;
    height: 70%;
    width: 75%;
    background-color: rgb(245, 223, 78);
}

.About-Me .AM-deta .AM-title .title h1 {
    font-size: 9rem;
    color: #4C4D4D;
}

.About-Me .col-6 h6 {
    color: #FFFFFF;
}

.About-Me .col-6 a {
    text-decoration: underline;
    word-wrap: break-word;
}

.About-Me .col-6 a:hover {
    text-decoration: none;
}

/*  section - 2 What I Do  */
.WID {
    background-color: #F8F9FA;
    margin-bottom: 6rem;
}

.WID .row .WID-heading {
    margin: 60px auto;
}

.WID .row .col-md-6 {
    min-height: 300px;
}

.WID .row .col-md-6 .WID-box {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}

.WID .row .col-md-6 .WID-box .icon i {
    font-size: 3.4rem;
}

.WID .row .col-md-6 .WID-box p {
    color: #4C4D4D;
}

/*  section - 3 resume  */
.resume {
    margin-bottom: 7rem;
}

.resume .row .my-education .R-deta,
.resume .row .my-experience .R-deta {
    border-left: 2px solid #f5df4e;
}

.resume .row .my-education .R-deta .col-12 .R-text,
.resume .row .my-experience .R-deta .col-12 .R-text {
    color: #8e9a9d;
    line-height: 2rem;
}

/*  section - 3 resume  skill div progress-bar */
.resume .row .S-box .S-row {
    margin: 18px auto;
}

.resume .row .S-box .S-row .progress-wrapper .progress-bar {
    width: 100%;
    background-color: #e9ecef;
    border-radius: 15px;
}

.resume .row .S-box .S-row .progress-wrapper .progress-bar .bar {
    display: block;
    width: 100%;
    background-color: rgb(245, 223, 78);
    border-radius: 15px 0px 0px 15px;
    padding: 4px;
}

/*  section - 3 resume CV  Download Button  */
.resume .CV-button .btn {
    padding: 10px 24px !important;
}

/* section - 4 portfolio  */
.portfolio {
    background-color: #F8F9FA;
}

.portfolio .row
{
    padding: 60px 0px;
}

/* portfolio-link */
.portfolio .row .col-12 .P-link
{
    width: 50%;
    flex-wrap: nowrap;
    overflow: hidden;
    /* overflow-x: auto; */
}

.portfolio .row .col-12 .P-link .P-link-wrapper {
    margin: auto;
}

.portfolio .row .col-12 .P-link .P-link-wrapper li a {
    margin: auto 8px;
    display: block;
    word-wrap: none;
    color: #707070;
    transition: all 0.3s linear;
}

.portfolio .row .col-12 .P-link .P-link-wrapper li a:hover {
    color: #000;
    text-decoration: underline #f5df4e;
}

/* port-img-wrapper */
.portfolio .row .col-12 .P-img-wrapper .P-img-box a {
    display: block;
}

.portfolio .row .col-12 .P-img-wrapper .P-img-box a img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

/* port-img-wrapper > hover  */
.portfolio .row .col-12 .P-img-wrapper .P-img-box a {
    overflow: hidden;
}

.portfolio .row .col-12 .P-img-wrapper .P-img-box a:hover img {
    transform: scale(1.1);
}

/* section - 5  hire-me  */
.hire-me {
    margin-top: 4rem;
    height: 85vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../HTML/image/asset\ 13.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hire-me .hire-heading .hire-button .btn {
    padding: 16px 50px;
    background-color: #f5df4e;
    transition: all 0.3s ease-in-out;
}

.hire-me .hire-heading .hire-button .btn:hover {
    background-color: #f5df4e;
}

/* section - 6 FAQ  */
.FAQ {
    background-color: #F8F9FA;
}

.FAQ .FAQ-wrapper .row {
    padding: 4rem 0px 60px 0px;
}

/* FAQ .FAQ-heading  */
.FAQ .FAQ-wrapper .row .FAQ-heading {
    margin-bottom: 3rem;
}

/* FAQ accordion */
.FAQ .FAQ-wrapper .row .col-12 .FAQ-deta .accordion-item{
    border-radius: 0%;
    background: none;
    margin: -20px auto;
}

.FAQ .FAQ-wrapper .row .col-12 .FAQ-deta .accordion-item:first-of-type .accordion-header .accordion-button {
    border-top: 0;
}

.FAQ .FAQ-wrapper .row .col-12 .FAQ-deta .accordion-header .accordion-button {
    color: #8e9a9d;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 0;
    border-top: 1px solid #0000001a;
}

.FAQ .FAQ-wrapper .row .col-12 .FAQ-deta .accordion-header .accordion-button:after {
    left: 10px;
}

.accordion .accordion-header .accordion-button.collapsed:after {
    top: calc(50% - 2px);
    transform: translate(-50%, -50%) rotate(135deg);
}

.accordion .accordion-header .accordion-button:after {
    background-image: none;
    border-right: 2px solid;
    border-top: 2px solid;
    height: 9px;
    position: absolute; 
    top: calc(50% + 2px);
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: all .2s ease;
    width: 9px;
}

/* FAQ iamge  */
.FAQ .FAQ-wrapper .row .FAQ-image img {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* contact-me  */
.contactt {
    background-color: rgb(245, 223, 78);
    padding: 60px 0px;
}

/* contact-form */
.contact-form form input,
.contact-form form textarea {
    background: transparent;
    padding: 0%;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, .12);
}

.contact-form form input:focus,
.contact-form form textarea:focus {
    border-bottom: 2px solid black;
    box-shadow: none;
    background: none;
}

.contact-form form button {
    padding: 14px 40px;
    background-color: #000;
}

.contact-form form button:hover {
    background-color: #000;
}

/* footer  */
footer {
    height: 10rem;
    background-color: #000;
}

footer .row .col-12 p a {
    color: #f5df4e;
    text-decoration: underline;
}

footer .row .col-12 p a:hover {
    text-decoration: none;
}