@media screen and (max-width: 768px) {
    #brand {
        margin-top: -1.571em;
    }
    nav ul {
        float: none;
        margin-top: 3.125em;
        background: #c00;
    }
    nav li {
        display: inline;
    }
    nav a {
        color: #ddd;
    }
    nav li a:hover {
    background: rgba(76,0,0,.1);
    color: #fff;
    }
    .current {
        color: #fff;
    }
}

@media (max-width: 500px) {
    nav li a {
        display: block;
        border-top: 1px solid rgba(255,255,255,.1);
        border-bottom: 1px solid rgba(0,0,0,.1);
        padding: .15em;
        font-size: 120%;
    }
  
    nav li a:hover {
        background: rgba(76,0,0,.1)
    }
  
    .current {
        color: #fff;
    }   
}