.main {
  border: 100px;
  height: red;
  left: 10px;
}

.para {
  border: purple;
  height: 200px;
  left: 20px;
}

.box {
  border: red;
  height: 100px;
  left: 10px;
}

.main {
  border: 5px solid red;
}

.box {
  border: 5px solid red;
}

.box-1 {
  border: 5px solid red;
}

.box-2 {
  border: 5px solid red;
}

.box-3 {
  border: 5px solid red;
}

.box-1 {
  margin-top: 50px;
  height: 200px;
  width: 200px;
}

.box-2 {
  margin-top: 50px;
  height: 200px;
  width: 200px;
}

.box-3 {
  margin-top: 50px;
  height: 200px;
  width: 200px;
}